# dependencies
node_modules/

# dotenv environment files
.env
.env.*.local

# compiled output
dist/
build/

# IDE/editor config
.vscode/
.idea/

# logs
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db

#data
data/


# Prisma
/src/generated/prisma
prisma/dev.db
*.sqlite